@import "./base.css";

#app{
    background-color: #111436;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#musicCard{
    width: 50%;
    height: 75vh;
    margin-top: 2%;
}

.imgMusic{
    filter: blur(1rem);
    width: 20vw
}

.imgMusicCard{
    width: 100%;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

body, html {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: honeydew;
}

.button{
    width: fit-content;
    background-color: blueviolet;
    padding: 1em;
    text-align: center;
    height: fit-content;
}

.button:hover{
    cursor: pointer;
}

.button-disabled{
    background-color: #69c40b;
    pointer-events: none;
}

.row{
    text-align: center;
    width: 100%;
    margin-top: 5vh;
}

#loginSpotify{
    float: right;
    margin-top: 10%;
    width: 30vh;
}

.card{
    margin-left: 37.5vw;
    width: 25vw;
    margin-top: 1%;
}

.borderColored{
    background-color: #262335;
    background-image: radial-gradient(circle at 100% 100%, transparent 15px, #d82bfd 15px, #d82bfd 20px, transparent 20px), linear-gradient(to right, #d82bfd, #304ffe), radial-gradient(circle at 0% 100%, transparent 15px, #304ffe 15px, #304ffe 20px, transparent 20px), linear-gradient(to bottom, #304ffe, #7c219e), radial-gradient(circle at 0% 0%, transparent 15px, #7c219e 15px, #7c219e 20px, transparent 20px), linear-gradient(to left, #7c219e, #fb9804), radial-gradient(circle at 100% 0%, transparent 15px, #fb9804 15px, #fb9804 20px, transparent 20px), linear-gradient(to top, #fb9804, #d82bfd);
    background-size: 20px 20px, calc(100% - 40px) 5px, 20px 20px, 5px calc(100% - 40px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    border-radius: 3%;
}

.playersList{
    padding: 2vh 2vh 2vh 2vh;
    height: fit-content;
    min-height: 15vh;
    border-radius: 6%;
    width: 15%;
    margin-top: 3%
}

.buzzer {
    box-shadow: 3px 4px 0 0 #8a2a21;
    background: #c62d1f linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
    border-radius:42px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:65px 55px;
    text-decoration:none;
    text-shadow:0 1px 0 #810e05;
}
.buzzer:hover {
    background: #f24437 linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
}
.buzzer:active {
    position:relative;
    top:1px;
}

.flex {
    display: flex;
}

.space-around{
    justify-content: space-around;
}

.musicPlayingIcon{
    float: right;
    margin-top: 2%;
    margin-right: 4%;
    font-size: 4vw;
}

.addUser{
    /*width: 25%;*/
    height: 10%;
    align-content: center;
}

.boutonsLogin {
    width: 15%;
}

#loginGoogle{
    margin-top: 10%;
}

/* Media queries pour les téléphones */
@media only screen and (max-width: 600px) {

    #app{
        height: 200vh;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .playersList{;
        width: 80%;
    }

    #musicCard{
        width: 80%;
        height: 75vh;
        margin-top: 2%;
    }

    .imgMusic{
        width: 20vh
    }

    .musicPlayingIcon{;
        font-size: 15vw;
    }

    #loginSpotify{
        margin-top: 10%;
    }

    .addUser{
        flex-direction: column;
        align-items: center;
    }

    .card{
        width: 100vw;
        margin-top: 10%;
        margin-left: 0;
    }

    #username, #buzzer, #addUser{
        width: 70vw;
    }

    .boutonsLogin{
        width: 100%;
    }
}
